<div class="toast-container position-fixed top-0 end-0 p-3">
    <div *ngFor="let toast of toasterService.toasts" class="toast show" [class]="toasterTypes[toast.type]" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" (click)="toasterService.remove(toast)"></button>
    </div>
    <div class="toast-body d-flex flex-row justify-content-start align-items-center flex-gap-5">
        <span class="material-symbols-outlined">{{ toast.icon || 'notifications' }}</span>
        <span>{{ toast.message }}</span>
    </div>
    </div>
</div>