<div class="d-flex flex-row justify-content-center align-items-center" [style.height.%]="100">
    <div class="p-3 d-flex flex-row justify-content-start align-items-center card border-6" [style.width.%]="90">
        <div class="d-flex flex-row justify-content-start align-items-center" [style.width.%]="50">
            <strong class="fs-5 pointer" (click)="onTitle()">Todo</strong>
        </div>
        <div class="d-flex flex-row justify-content-end align-items-center flex-gap-20" [style.width.%]="50">
            <!-- <span class="material-symbols-outlined md-30 pointer" (click)="onProfile()">account_circle</span> -->
            <span class="material-symbols-outlined md-30 pointer" (click)="onLogout()">logout</span>
        </div>
    </div>
</div>